fieldset{text-align: center;}
h1{text-align: center;
    justify-content: ;
color: #1a3f02;}
p{text-align: justify;
font-family: sans-serif;}
img{margin: auto;display: block;}
    h2{text-align: center;
    color: #1a3f02;}
    input{color: #084208;
    background-color: forestgreen;
    margin: auto
    ;;}
    table{margin: auto;}
    body{background-color: rgb(187, 255, 181);}
    

  
        
    